html,
body {
  background: #fff;
}

.names-flex {
  position: relative;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
.names-flex::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.names-flex {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.names-flex.names-content {
  padding-top: 0;
  padding-bottom: 0;
}

body {
  margin: 0;
  height: 100vh;
}

.loop {
  position: absolute;
}

.loop-wrapper {
  position: relative;
}

.loop-container {
  height: 100vh;
  overflow: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.section.content {
  overflow: initial;
}
